body {
  font-family: 'Roboto', sans-serif; 
  line-height: 1.6; 
  color: #333; 
}
section {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* spacing between sections */
section + section {
  margin-top: 2rem;
}

.hero {
  color: white;
  text-shadow: 1px 1px 5px black;
  padding: 6rem 2rem; 
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  background: url('images/hero_section.jpeg') no-repeat center center/cover;
}

.container {
  text-align: left; 
  width: 100%; 
  max-width: 1200px; 
  padding-left: 20px;
}

.logo-img {
  width: 150px;
  height: 60Fpx;
  margin-bottom: 20px;
}

.display-3 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.lead {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.btn-success {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px #367c10;
}

.btn-success:hover {
  background-color: #367c10;
}

@media (max-width: 768px) {
  .display-3 {
      font-size: 3rem;
  }
  .lead {
      font-size: 1.2rem;
  }
  .btn-success {
      font-size: 1rem;
  }
}

.btn-primary:hover {
  background-color: #367c10; 
}
.btn-primary {
  background-color: #4cbb17; 
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}
.logo-img {
  padding-left: -10px;
  padding-bottom: -10px;
}

.logo-img:hover {
  transform: scale(1.1); 
}
.section-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #4cbb17;
}

.section-title-subheading{
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #0b6623
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #ccc; /* Make the border thinner */
  padding: 5px 1px; /* Reduce the padding to make the navbar slimmer */
  height: 82px; /* Make the navbar shorter */
}

.nav-link {
  color: #4cbb17;
  padding: 5px 10px; /* Reduce the padding around the links */
}

.nav-link:hover {
  color: #0b6623;
}


.list-group-item {
  display: flex; 
  align-items: center; 
}

.list-group-item img {
  width: 30px; 
  height: auto; 
  margin-right: 10px; 
}

.skill-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.skill {
  flex: 1;  
  margin-right: 10px;  
}

.skill:last-child {
  margin-right: 0;  
}

.progress {
  background-color: #ddd;
  border-radius: 5px;
  height: 20px;
}

.progress-bar {
  height: 20px;
  background-color: #4cbb17;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: width 2s;
}

.section-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.skill p {
  font-size: 1rem;
  font-weight: bold;
  color:white;
  margin-bottom: 5px;
}

.progress {
  background-color: #f0f0f0;
  border-radius: 20px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden; 
}

.progress-bar {
  background: linear-gradient(to right, #4caf50);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: width 2s ease;
}

#projects .container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
}

.project-card {
  flex: 1 1 45%; 
  margin: 10px; 
  max-width: 600px; 
}

@media (max-width: 768px) {
  .project-card {
      flex: 1 1 100%; 
  }
}

.project-card img {
  width: 100%;  
  height: 200px; 
  object-fit: cover; 
  object-position: center; 
  border-radius: 5px; 
}

.video-thumbnail {
  position: relative;
  display: inline-block;
  width: 100%;
}

.video-thumbnail img {
  width: 100%;
  display: block;
}

.bi-play-circle-fill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 48px; 
  pointer-events: none; 
}

.section-title {
  margin-bottom: 20px;
}

h3 {
  color: #333;
  margin-bottom: 15px;
}

ul {
  list-style-type: none; 
  padding: 0;
}

li {
  padding: 5px 0; 
  font-size: 16px; 
}



#accomplishments {
  background-color: #f9f9f9;
  padding: 40px 0;
}

.section-title {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.card-deck {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background: white;
  border: 1px solid #ddd;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 48%; 
}

.card-body {
  padding: 20px;
}

.card-title {
  color: #0056b3;
  font-size: 18px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .card {
      width: 100%; 
  }
}
.logos {
  display: flex;               
  justify-content: center;     
  align-items: center;    
  overflow-x: auto;          
}

.logo {
  height: 50;  
  margin-top: px;            
  margin-right: 20px;                      
}

.logo:last-child {
  margin-right: 0;             
}

.skills-container h2 {
  text-align: center;
  margin-top: 20px;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.skill {
  width: 100px; 
  height: 120px; 
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f0f0f0; 
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.skill img {
  width: 50%; 
  height: auto;
}

.skill p {
  font-size: 0.9rem;
  color: #333;
  margin-top: 10px;
}

.skill_container {
  background: white;
  margin: 20px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.skill_container_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.skills_type_title{
  font-size: 1.5rem;
  color: #0b6623;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 5px;
}

.skillGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.skillBox {
  width: 180px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.skillBox:hover {
  transform: translateY(-5px);
}

.skillBox p {
  font-size: 1rem;
  color: #555;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .skillGroup {
      justify-content: center;
  }

  .skillBox {
      width: 140px;
  }
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
}



.skill p {
  font-size: 16px;
  color: #333;
}
body {
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 24px;
  color: #333;
}

.timeline {
  list-style: none;
  padding: 0;
}

.timeline-item {
  margin-bottom: 20px;
  position: relative;
}

.timeline-item img {
  width: 50px;
  vertical-align: middle;
}

.expand {
  background: none;
  border: none;
  text-align: left;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  color: black;
}

.content {
  background-color: #f9f9f9;
  border-left: 2px solid greenyellow;
  padding: 10px;
  margin-top: 5px;
  display: none; /* Initially hidden */
}

.timeline-item .content {
  display: none;
}

.timeline-item:hover .content {
  display: block;
}

.timeline-item .content {
  transition: all 0.3s ease;
}

.timeline-item .expand {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.timeline-item .expand img {
  margin-right: 10px;
}

.card .extra-info {
  display: none;
}

.card:hover .extra-info {
  display: block;
}

.card .extra-info {
  transition: all 0.3s ease;
}

