body {
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

section {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Add spacing between sections */
section + section {
  margin-top: 2rem;
}

.hero {
  background: url('https://via.placeholder.com/1920x1080') no-repeat center center/cover;
  color: white;
  text-shadow: 1px 1px 5px black;
  padding: 6rem 2rem;
  min-height: 100vh; /* Ensure full-screen height for the hero section */
}


.section-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #4cbb17;
}

.section-title-subheading{
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #0b6623
}

.navbar {
  background-color: white;
}

.nav-link {
  color: #4cbb17;
}

.nav-link:hover {
  color: #0b6623;
}
